
#navbar{
  width: 100%;
  height: 120px;
  background-color: #4056A1;
  color: white;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar > span {
  font-family: 'Bungee';
}