#new-tweet {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
}

#new-tweet-form > label {
  display: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  /* identical to box height */

  text-transform: uppercase;

  color: #1d1f24;
}

#new-tweet-form {
  display: none;
  flex-flow: column wrap;
  justify-content: center;
}

#new-tweet-form > textarea {
  border: 1px solid #c0c0c0;
  border-radius: 3px;

  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 18px;
}

#new-tweet-footer {
  display: flex;
  justify-content: space-between;
}

#tweet-controls {
  display: flex;
  align-items: center;
}

#tweet-options {
  display: flex;
  align-items: center;
}



#tweet-options > img {
  max-height: 36px;
  padding: 0.5rem;
}

.v-divider {
  margin: 0 0.5rem;

  width: 1px;
  background-color: rgb(133, 133, 133);
  height: 60%;
}

#counter {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}



.big {
  padding: .5remar 2rem;
}

.primary-btn:hover {
  cursor: pointer;
  background-color: #4e91e7;
}

.primary-btn:focus {
  background-color: #2f80ed;
}

.danger {
  color: red;
}

.alert-container {
  display: none;
  justify-content: center;
  background-color: #ffd3d3;
  margin: .5rem 0;
  padding: .25rem;
  border: solid 1px red;
  border-radius: 2px;
}

.alert-container > p {
  color: rgb(174, 0, 0);

}
